**In this task you should use Pandas to answer a few questions about the Adult Dataset(provided).

Unique values of all features:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('C:\\Users\\asheesh\\Documents\\menka\\Data Scientist\\ML\\ASSISGNMENT\\week4_assignment\\Assignment_Details\\adult_csv.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [5]:
data['sex'].value_counts()

Male      32650
Female    16192
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [38]:
avg_age_women= data[data['sex'] == 'Female']['age'].mean()
round(avg_age_women,3)
print ("The average age  of women  is :" , round(avg_age_women,3))

The average age  of women  is : 1.604

**3. What is the percentage of German citizens (*native-country* feature)?**

In [37]:
german_percent= (data[data['native-country']=='Germany']['native-country'].count()) / (data['native-country'].count()) * 100
print ("The percentage of German citizens are :" , round(german_percent,3))

The percentage of German citizens are : 0.429

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [68]:
#  mean and standard deviation of age for those who earn less than 50K per year

Describe_less_50K=  data[data['class'] == '<=50K']['age'].describe()
mean_less_50K = round(Describe_less_50K[1],3)
std_less_50K = round( Describe_less_50K[2],3)
print ( "For those who earn <=50K per year  mean of age is" ,  mean_less_50K , " and standard deviation is" ,std_less_50K)

#  mean and standard deviation of age for those who earn more than 50K per year

Describe_more_50K=  data[data['class'] == '>50K']['age'].describe()
mean_more_50K = round(Describe_more_50K[1],3)
std_more_50K = round( Describe_more_50K[2],3)
print ( "For those who earn > 50K per year  mean of age is" ,  mean_more_50K , " and standard deviation is" ,std_more_50K)

For those who earn <=50K per year  mean of age is 1.59  and standard deviation is 1.322
For those who earn > 50K per year  mean of age is 2.346  and standard deviation is 1.01

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [75]:
diff_education_more_50k = data[data['class'] == '>50K']['education'].value_counts()

print ("It is not true that people who earn more than 50K have at least high school education as there are many with lower education \n ")
print(diff_education_more_50k)

It is not true that people who earn more than 50K have at least high school education as there are many with lower education

Bachelors       3313
HS-grad         2503
Some-college    2063
Masters         1459
Prof-school      617
Assoc-voc        522
Doctorate        431
Assoc-acdm       413
11th              92
10th              87
7th-8th           62
12th              48
9th               41
5th-6th           27
1st-4th            8
Preschool          1
Name: education, dtype: int64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [191]:
data.groupby(['race' , 'sex'])['age'].describe()

                             count      mean       std  min  25%  50%  75%  \
race               sex
Amer-Indian-Eskimo Female    185.0  1.583784  1.274651  0.0  1.0  1.0  3.0
                   Male      285.0  1.603509  1.135528  0.0  1.0  1.0  2.0
Asian-Pac-Islander Female    517.0  1.481625  1.211281  0.0  0.0  1.0  2.0
                   Male     1002.0  1.782435  1.197137  0.0  1.0  2.0  3.0
Black              Female   2308.0  1.712738  1.240228  0.0  1.0  2.0  3.0
                   Male     2377.0  1.711822  1.254554  0.0  1.0  2.0  3.0
Other              Female    155.0  1.090323  1.107048  0.0  0.0  1.0  2.0
                   Male      251.0  1.454183  1.156241  0.0  1.0  1.0  2.0
White              Female  13027.0  1.595839  1.352648  0.0  0.0  1.0  3.0
                   Male    28735.0  1.874230  1.273180  0.0  1.0  2.0  3.0

                           max
race               sex
Amer-Indian-Eskimo Female  4.0
                   Male    4.0
Asian-Pac-Islander Female  4.0
                   Male    4.0
Black              Female  4.0
                   Male    4.0
Other              Female  4.0
                   Male    4.0
White              Female  4.0
                   Male    4.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [134]:
married_earn_more_50k = data[(data['class'] == '>50K') & (data['marital-status'].str.contains("Married"))]['marital-status'].count()

single_earn_more_50k = data[(data['class'] == '>50K') & (~data['marital-status'].str.contains("Married"))]['marital-status'].count()

print ("Married and earning more than 50k : " ,married_earn_more_50k  )
print ("Singles and earning more than 50k : " ,single_earn_more_50k  )

if (married_earn_more_50k > single_earn_more_50k):
    print ("Married have a higher proportion than singles who earn more than 50K")
else:
    print ("singles have a higher proportion than Married who earn more than 50K")

Married and earning more than 50k :  10056
Singles and earning more than 50k :  1631
Married have a higher proportion than singles who earn more than 50K

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [166]:
print("Maximum number of hours a person works per week is : ", data['hoursperweek'].max())

ppl_max_hour = data[data['hoursperweek'] == 4]
print("Total number of people who work 4 hours per week are : ",ppl_max_hour['hoursperweek'].count())

percent_more_50K = (ppl_max_hour[ppl_max_hour['class'] == '>50K']['hoursperweek'].count() / ppl_max_hour['hoursperweek'].count())*100
print("Percentage of people who earn more than 50K and work 4 hours a week is" , round (percent_more_50K , 4) , "%" )

Maximum number of hours a person works per week is :  4
Total number of people who work 4 hours per week are :  1676
Percentage of people who earn more than 50K and work 4 hours a week is 35.7399 %

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [189]:
print (" Count of the average time of work for each country \n" , data.groupby(['native-country', 'class'])['hoursperweek'].count())
print (" \n \n==================================\n \n ")
print ("Count of the average time of work for Japan \n" , data[data['native-country'] == 'Japan'].groupby(['native-country', 'class'])['hoursperweek'].count())

 Count of the average time of work for each country
 native-country  class
Cambodia        <=50K       19
                >50K         9
Canada          <=50K      119
                >50K        63
China           <=50K       86
                         ...
United-States   >50K     10694
Vietnam         <=50K       79
                >50K         7
Yugoslavia      <=50K       15
                >50K         8
Name: hoursperweek, Length: 81, dtype: int64


==================================


Count of the average time of work for Japan
 native-country  class
Japan           <=50K    60
                >50K     32
Name: hoursperweek, dtype: int64

In [201]:
print (" Average time of work for each country \n" , data.groupby(['native-country', 'class'])['hoursperweek'].mean())
print (" \n \n==================================\n \n ")
print ("Average time of work for Japan \n" , data[data['native-country'] == 'Japan'].groupby(['native-country', 'class'])['hoursperweek'].mean())

 Average time of work for each country
 native-country  class
Cambodia        <=50K    2.052632
                >50K     2.222222
Canada          <=50K    1.739496
                >50K     2.396825
China           <=50K    1.674419
                           ...
United-States   >50K     2.334113
Vietnam         <=50K    1.772152
                >50K     2.000000
Yugoslavia      <=50K    1.866667
                >50K     2.250000
Name: hoursperweek, Length: 81, dtype: float64


==================================


Average time of work for Japan
 native-country  class
Japan           <=50K    1.9000
                >50K     2.4375
Name: hoursperweek, dtype: float64